NEXT_PUBLIC_SITE_URL=https://www.expresparking.com
CLOVER_API_BASE_URL=https://api.clover.com
CLOVER_MERCHANT_ID=
CLOVER_PRIVATE_KEY=
CLOVER_PAGE_CONFIG_UUID=B1SEXQJM5TXGP
CLOVER_WEBHOOK_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
